.card {
  margin-top: 2vw;
  margin-left: 30vw;
  width: 40vw;
  min-height: 8vw;
  align-self: center;
  border-width: 0.3vw;
  border-radius: 1rem;
  border-color: lightgrey;
}
textarea {
  min-width: 37vw;
  min-height: 3vw;
  height: auto;
  resize: vertical;
}
input {
  width: 30vw;
  min-height: 3vw;
}

.cardchild {
  margin-top: 2vw;
  width: 20vw;
}
